// This file is only an example. Please delete it before you submit your test.
body {
  font-family: monospace;
  background: #f0f0f0;
  color: darkgrey;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}
