@import "_variables.scss";

table{
  width: 100%; 
  color: #000;
  border-spacing: 10px;
  padding: 10px;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid $tableBorder;
  font-size: 15px;
  // @media only screen and (max-width: 760px)  {
  //         width: 200px;
  // }
  thead{
      vertical-align: bottom;
    .logo{
      // background-color: $darkgreyCol;
      background: url(../images/logo.png);
      background-repeat: repeat;
      color: $darkgreyCol;
      max-width: 306px;
      max-height: 104px;
      background-size: contain;
      background-position: center;
    }
    .year{
      background-color: $lightgreyRow;
      border: 1px solid $lightgreyRow;
      margin-bottom: 5px;
      height: 100px;
      text-align: end;
      border-collapse: separate;
      border-spacing: 10px;
      vertical-align: bottom;
      &:hover{
        cursor: default;
      } 
      span{
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
      }
      @media only screen and (max-width: 760px) {
        width: 50px;
      }
    }
  }
  tbody{
    tr{
      .model{
        background-color: $darkgreyCol;
        width: 300px;
        padding-left: 5px;
      }
      td.coverage{
        &:hover{
          cursor: pointer;
        } 
        background-color: $darkgreyCol;
        @media only screen and (max-width: 760px) {
          width: 70px;
        }
        &.in{
          background-color: $cellCovered;
        }
      }
    }
  }
}