@import "_variables.scss";

table{
  color: #000;
  border-spacing: 10px;
  padding: 10px;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid $tableBorder;
  thead{
    vertical-align: bottom;
    .logo{
      background-color: $darkgreyCol;
      // background: url(../images/logo.png);
      background-repeat: no-repeat;
      color: $darkgreyCol;
      max-width: 306px;
      background-size: contain;
      background-position: center;
    }
    .year{
      background-color: $lightgreyRow;
      border: 1px solid $lightgreyRow;
      margin-bottom: 5px;
      height: 100px;
      text-align: end;
      border-collapse: separate;
      border-spacing: 10px;
      writing-mode: vertical-rl;
      // vertical-align: bottom;
    }
  }
  tbody{
    tr{
      .model{
        background-color: $darkgreyCol;
        width: 300px;
        padding-left: 5px;
      }
      td.coverage{
        background-color: $darkgreyCol;
        &.in{
          background-color: $cellCovered;
        }
      }
    }
  }
}